@{
    Console.WriteLine(CV.IsAdmin());
    if (CV.IsAdmin())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_User.cshtml";
    }

}

@using Expense_Management_Software.BAL

<div class="card m-3">
    <div class="d-flex">
        <h4 class="card-header col-10">Profile Details</h4>
        @if (CV.IsAdmin() == true)
        {
            <div class="card-header">
                <i class="mdi mdi-laptop mdi-24px text-danger me-1"></i>
                <span class="">Admin</span>
            </div>
        }
        else
        {
            <div class="card-header bg-gradient-light">
                <i class="mdi mdi-account-outline mdi-24px text-primary me-1"></i>
                <span class="text-dark">User</span>
            </div>
        }

    </div>
    <!-- Account -->
    <div class="card-body">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img src="@CV.ProfilePicture()" alt="user-avatar" class="d-block w-px-120 h-px-120 rounded" id="uploadedAvatar" />
            <div class="button-wrapper">
                <label for="upload" class="btn btn-primary me-2 mb-3" tabindex="0">
                    <span class="d-none d-sm-block">Upload new photo</span>
                    <i class="mdi mdi-tray-arrow-up d-block d-sm-none"></i>
                    <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
                </label>
                <button type="button" class="btn btn-outline-danger account-image-reset mb-3">
                    <i class="mdi mdi-reload d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Reset</span>
                </button>

                <div class="text-muted small">Allowed JPG, GIF or PNG. Max size of 800K</div>
            </div>
        </div>
    </div>
    <div class="card-body pt-2 mt-1">
        <form id="formAccountSettings" method="GET" onsubmit="return false">
            <div class="row mt-2 gy-4">
                <div class="col-md-6">
                    <div class="form-floating form-floating-outline">
                        <input class="form-control" type="text" id="firstName" name="firstName" value="@CV.UserName()" autofocus />
                        <label for="firstName">User Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating form-floating-outline">
                        <input class="form-control" type="text" id="email" name="email" value="@CV.Email()" placeholder="john.doe@example.com" />
                        <label for="email">E-mail</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating form-floating-outline">
                        <input class="form-control" type="text" id="firstName" name="firstName" value="@CV.FirstName()" autofocus />
                        <label for="firstName">First Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating form-floating-outline">
                        <input class="form-control" type="text" name="lastName" id="lastName" value="@CV.LastName()" />
                        <label for="lastName">Last Name</label>
                    </div>
                </div>


            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary me-2">Save changes</button>
                <button type="reset" class="btn btn-outline-secondary">Reset</button>
            </div>
        </form>
    </div>

    <!-- /Account -->
</div>



<div class="card m-3">
    <h5 class="card-header fw-normal">Delete Account</h5>
    <div class="card-body">
        <div class="mb-3 col-12 mb-0">
            <div class="alert alert-warning">
                <h6 class="alert-heading mb-1">Are you sure you want to delete your account?</h6>
                <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
            </div>
        </div>
        <form asp-area="SEC_User" asp-controller="SEC_User" asp-action="SEC_User_Deactive" method="post">
            <div class="form-check mb-3 ms-3">
                <input class="form-check-input"
                       type="checkbox"
                       value=@CV.UserID()
                       name="UserID"
                       id="accountActivation" />
                <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
            </div>
            <button type="submit" class="btn btn-danger">Deactivate Account</button>
        </form>
    </div>
</div>


