@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Expense_Management_Software.Areas.SEC_User.Models;
@using System.Data;
@model DataTable;

<div class="card m-3">
    <form>
        <div class="card-header">
            <h5 class="card-title">Filter User</h5>
            <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                <div class="col-md-4 product_status">
                    <input type="text" placeholder="User Name" class="form-control text-capitalize" @*asp-for="@filterModel.TransferAmount"*@ />
                </div>
                <div class="col-md-4 product_category">
                    <input type="text" placeholder="First Name" class="form-control text-capitalize" @*asp-for="@filterModel.TransferAmount"*@ />
                </div>
                <div class="col-md-4 product_stock">
                    <input type="text" placeholder="Last Name" class="form-control text-capitalize" @*asp-for="@filterModel.TransferAmount"*@ />
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
                <div class="col-md-4"><input type="text" placeholder="Email" class="form-control text-capitalize" @*asp-for="@filterModel.TransferAmount"*@ /></div>
                @*<div class="col-md-1"></div>*@
                <div class="col-md-4"><input type="text" placeholder="IsAdmin" class="form-control text-capitalize" @*asp-for="@filterModel.TransferAmount"*@ /></div>
                @*<div class="col-md-1"></div>*@
                <div class="d-flex col-md-4">
                    <div class=" ms-2 d-flex justify-content-end align-content-end">
                        <button type="submit" class="btn btn-primary waves-effect waves-light text-white" asp-area="MST_Transaction" asp-controller="MST_Transaction" asp-action="MST_Transaction_Filter">
                            Show Transaction
                        </button>
                    </div>
                    <div class=" ms-2 d-flex justify-content-start align-content-start">
                        <form>
                            <button class="btn btn-danger" type="submit" runat="server" OnClientClick="this.form.reset();return false;">Clear</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </form>
    <div class="card-datatable table-responsive m-2">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="card-header d-flex border-top rounded-0 flex-wrap py-md-0">
                <div class="mt-3 ms-n2 mb-3 col-5">
                    <div id="sample_1_filter" class="dataTables_filter">
                        <label>
                            <input type="search"
                                   class="form-control" placeholder="Search User"
                                   aria-controls="sample_1" id="sample_1">
                        </label>
                    </div>
                </div>
                <span class="col-2"></span>
                <div class="d-flex align-items-baseline mt-3 col-5 justify-content-end">
                    <div class="dt-action-buttons d-flex align-items-start align-items-md-center justify-content-sm-center mb-3 mb-sm-0 gap-3 pt-0">

                        <div class="dt-buttons d-flex flex-wrap">
                            <button class="dt-button buttons-collection dropdown-toggle btn btn-label-secondary me-3 waves-effect waves-light"
                                    tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog"
                                    aria-expanded="false">
                                <span>
                                    <i class="mdi mdi-export-variant me-1"></i><span class="d-none d-sm-inline-block">Export </span>
                                </span><span class="dt-down-arrow">▼</span>
                            </button>
                            @*<a type="button" class="btn btn-primary waves-effect waves-light" asp-area="" asp-controller="Admin_MST_Category" asp-action="Admin_MST_CategoryAdd">
                            Add Product
                            </a>*@
                        </div>
                    </div>

                </div>

            </div>
            <table class="datatables-products table dataTable no-footer dtr-column collapsed" id="DataTables_Table_0"
                   aria-describedby="DataTables_Table_0_info" style="width: 1168px;">
                <thead class="table-light">
                    <tr>
                        <th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 5px;" aria-label="">
                        </th>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                            colspan="1" style="width: 442px;" aria-label="product: activate to sort column descending"
                            aria-sort="ascending">UserName</th>
                        <th class="fw-medium text-heading">FirstName</th>
                        <th class="fw-medium text-heading">LastName</th>
                        <th class="fw-medium text-heading">Email</th>
                        <th class="fw-medium text-heading">IsAdmin</th>
                        <th class="fw-medium text-heading">Created</th>
                        <th class="fw-medium text-heading">Modified</th>
                        <th rowspan="1"
                            colspan="1"> Action</th>
                    </tr>
                <tbody id="sample_2">
                        @foreach (DataRow dr in Model.Rows)
                        {
                        <tr class="">
                            <td class="control" tabindex="0" style="">
                                <button type="button">
                                    <img src="~/img/icons/misc/plus.png" class="" style="height:20px">
                                </button>
                            </td>
                                @*<td class="sorting_1">
                        <div class="d-flex justify-content-start align-items-center product-name">
                        <div class="avatar-wrapper me-3">
                        <div class="avatar rounded-2 bg-label-secondary">
                        <img src="@Url.Content(dr["CategoryImage"].ToString())"
                        class="rounded-2">
                        </div>
                        </div>
                        <div class="d-flex flex-column">
                        <span class="text-nowrap text-heading fw-medium">
                        @dr["CategoryName"]
                        </span>
                        </div>
                        </div>
                        </td>*@
                            <td class="fw-medium text-heading col-2">@dr["UserName"]</td>
                            <td class="fw-medium text-heading col-2">@dr["FirstName"]</td>
                            <td class="fw-medium text-heading col-2">@dr["LastName"]</td>
                            <td class="fw-medium text-heading col-2">@dr["Email"]</td>
                            <td class="fw-medium text-heading col-2">@dr["IsAdmin"]</td>
                            <td class="fw-medium text-heading col-2">@Convert.ToDateTime(dr["Created"]).ToString("dd/MM/yy")</td>
                            <td class="fw-medium text-heading col-2">@Convert.ToDateTime(dr["Modified"]).ToString("dd/MM/yy")</td>
                            <td>
                                <div class="d-flex">
                                    <div class="me-2">
                                        <form method="post" asp-area="SEC_User" asp-controller="SEC_User" asp-action="SEC_User_DeleteByID">
                                            <input type="hidden" value="@Convert.ToInt32(dr["UserID"])" name="UserID" />
                                            <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                                        </form>
                                    </div>
                                        @*<div class="ms-2">
                                <form asp-area="ADMN_Category" asp-controller="Admin_MST_Category" asp-action="Admin_MST_CategoryAdd">
                                <input type="hidden" value="@Convert.ToInt32(dr["CategoryID"])" name="CategoryID" />
                                <button type="submit" class="btn btn-info" value="Update">Update</button>
                                </form>
                                </div>*@
                                </div>
                            </td>
                        </tr>
                        }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

